<h1>Editing Allergens Ingredient</h1>

<%= render 'form', allergens_ingredient: @allergens_ingredient %>

<%= link_to 'Show', @allergens_ingredient %> |
<%= link_to 'Back', allergens_ingredients_path %>
