// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card{
  width: 300px;
  float: left;
  
}

.card-deck{
  float: none;
  height: 300px;
}

.profile-image{
  float: right;
  position:relative;
  top: -150px;
}
