<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @receipe_category.name %>
</p>

<%= link_to 'Edit', edit_receipe_category_path(@receipe_category) %> |
<%= link_to 'Back', receipe_categories_path %>
